
.container {
    display: flex;
    flex-direction: column;
    max-width: 1010px;
    max-height: 1147px;
    margin-left: auto;
    margin-right: auto;
  }

.spiner {
  position: absolute;
  left: 50%;
  top: 30%
}

@media only screen and (max-width: 410px) { 
  .root {
    /* width: 372px; */
    /* width: ; */
  }
  .container {
    /* width: 98%; */
    /* width: 372px; */
  }
  .main {
    width: 99%;
  }
}