.infoCard__footer {
    width: 938px;
    height: 40px;
}

.infoCard__footer .ant-pagination {
    text-align: center;
}

.infoCard__footer_team-hidden {
    display: none;
}

@media only screen and (max-width: 410px) {
    .infoCard__footer {
        width: 98%;
        height: 40px;
    }
}